<h1>Update Post</h1>

<%= render 'form', listing: @listing %>
<table>
  <tbody>
    <tr>
<td><%= button_to 'Show', @listing, :method => "get", class: "btn btn-primary btn-xs" %></td>
<td><%= button_to 'Back', listings_path, :method => "get", class: "btn btn-primary btn-xs" %></td>
</tr>
</tbody>
</table>
